.contenedor{
    display:grid;
    grid-template-columns: 20em 20em 20em;
    grid-template-rows: 23em 23em 23em;
    grid-area: 15.5em;
    align-content: center;
    margin-top: 7%;
}

.contenedor figure{
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.contenedor figure img{
    transition: all 500ms ease-out;
    width: 15.5em;
}

.contenedor figure .capa{
    position: absolute;
    top: 0;
    background: rgba(162, 151, 231, 0.5);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    width: 15.5em;
    height: 100%;
    border: 5px;
    border-radius: 30px 30px 30px 30px;
    padding: auto;
}

.contenedor figure:hover > .capa{
    opacity: 1;
    visibility: visible;
}

.contenedor figure .capa h3{
    color: white;
    font-weight: 300;
    margin-bottom: 50%;
    transition: all 500ms ease-in-out;
    margin-top: 60%;
    text-shadow: 1px 1px 2px black;
}

.shape2 {
    display: grid;
    border: 6px solid #9d95e3;
    border-radius: 30px 30px 30px 30px;
    padding: auto;
}
