
body{
    font-family: 'Lora';
    background: url(images/fondo.jpg);
    background-repeat: repeat;
}

body::before{
    content:"";
    background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
    width: 100%;
    min-height: 100%;
    height: 100%;
    position: fixed;
    opacity: 0.5;
    display: flex;
    top:0;
    left: 0;
    bottom: 0;
    z-index: -1;
    /* el z-index lo que hizo fue resolverme el gradiente que me afectaba todo el body, poniendolo por debajo de todo por eso es -1 */
}


nav{
    text-align: right;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    margin-left: 0px;
    width: auto;
    text-transform: uppercase;
    background-color: #8ac5a4;
    }



#navegacion a{
    margin-left: 15px;
    margin-right: 15px;
    color: white;
    letter-spacing: 3px;

}


#tabla{
    opacity: 100%;
    text-align: center;
    width: 50%;
    margin: auto;
    
}

#titulomujer{
    text-align: center;
    font-size: 2em ;
    
}
.pie{
    text-align:center;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: #9d95e3;
    width: 100%;
    padding: 1px;
}

.p.pie{
    font-weight: bold;
}

.clearfix{
    clear:both;
    }

#ribbon {
        width: 0px;
        height: 120px;
        border-left: 50px solid #8ac5a4;
        border-right: 50px solid #8ac5a4;
        border-bottom: 35px solid transparent;
        float:left;
    }
    
    .casititulo{
        float:left;margin-left:10px;
        font-weight: bold;
        font-size: 40px;
        
    }
    

    .segundotitulo{
        align-content: center;
        text-align: center;
        padding-top: 30px;
        margin-top: 30px;
        
        
    }


.shape {
    display: inline-block;
    width: 250;
    height: 250;
    border: 2px solid #9d95e3;
    border-radius: 30px 30px 30px 30px;
    
}