
body{
    font-family: 'Lora';
    background: url(images/fondo.jpg);
    background-repeat: repeat;
}

body::before{
    content:"";
    background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
    width: 100%;
    min-height: 100%;
    height: 100%;
    position: fixed;
    opacity: 0.5;
    display: flex;
    top:0;
    left: 0;
    bottom: 0;
    z-index: -1;
    /* el z-index lo que hizo fue resolverme el gradiente que me afectaba todo el body, poniendolo por debajo de todo por eso es -1 */
}


nav{
    text-align: right;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    margin-left: 0px;
    width: auto;
    text-transform: uppercase;
    background-color: #8ac5a4;
    }



#navegacion a{
    margin-left: 15px;
    margin-right: 15px;
    color: white;
    letter-spacing: 3px;

}

/* clase superdiv para las imagenes en flex y sus respectivos textos */
.superdiv{
    width: 50%;
    height: auto;
    margin: auto;
    overflow: hidden;
    border: solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    
}

.superdiv p{
    text-align: center;
    margin: auto;

}


#a{
    order:1;
    display: inline-flex;
    padding: 7px;
}

#a img{
    margin-right: 20px;
}

#b{
    order:2;
    display: inline-flex;
    padding: 7px;
}

#b img{
    margin-left: 20px;
}

#c{
    order:3;
    display: inline-flex;
    padding: 7px;
}

#c img{
    margin-right: 20px;
}



/* Propiedades del footer */
.pie{
    text-align:center;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: #9d95e3;
    width: 100%;
    padding: 1px;
}

.p.pie{
    font-weight: bold;
}


/* clearfix es un div que me permite limpiar los estilos de lo que este por debajo */
.clearfix{
    clear:both;
    }


/* Bandera al lado del H1 titulo principal de la pagina */
#ribbon {
        width: 0px;
        height: 120px;
        border-left: 50px solid #8ac5a4;
        border-right: 50px solid #8ac5a4;
        border-bottom: 35px solid transparent;
        float:left;
    }
    
/* Titulo principal de la pagina */
    .casititulo{
        float:left;margin-left:10px;
        font-weight: bold;
        font-size: 40px;
        
    }
    
/* Propiedades de la clase del segundo titulo > Una mujer puede Jugar con espadas?  */
    .segundotitulo{
        align-content: center;
        text-align: center;
        padding-top: 30px;
        margin-top: 30px;
    }

    .segundotitulo h2{
        text-align: center;
        font-size: 2em ;
    }



/* Forma que le di a las imagenes dentro del superdiv */
.shape {
    display: inline-block;
    width: 250;
    height: 250;
    border: 2px solid #9d95e3;
    border-radius: 30px 30px 30px 30px;
    
}


@media screen and (max-width: 700px) {
    body, table {   
    flex-direction: column;
    }
}